@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-btn {
    @apply hidden h-6 cursor-pointer transition-all duration-150 ease-out hover:scale-125 md:inline-flex;
  }
}
